# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

'.text.html.basic':
  'raised button':
    'prefix': 'mtlz-btn-raised'
    'body': '<a class="waves-effect waves-light btn">${1:Stuff}</a>'

  'Raised button left':
    'prefix': 'mtlz-btn-raised-left'
    'body': '<a class="waves-effect waves-light btn"><i class="material-icons left">${1:cloud}</i>${2:Click me}</a>$3'

  'Raised button right':
    'prefix': 'mtlz-btn-raised-right'
    'body': '<a class="waves-effect waves-light btn"><i class="material-icons right">${1:cloud}</i>${2:Click me}</a>$3'
